@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #ADBC9F;
}
.font-bold {
  font-weight: 700;
}
.footer { margin-top: auto; }